<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StresslessUI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StresslessUI.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StresslessUI.AppSettings>
            <setting name="ID" serializeAs="String">
                <value>ZYDPLLBWSK3MVQJSIYHB1OR2JXCY0X2C5UJ2QAR2MAAIT5Q</value>
            </setting>
        </StresslessUI.AppSettings>
    </applicationSettings>
    <userSettings>
        <StresslessUI.AppSettings>
            <setting name="Theme" serializeAs="String">
                <value />
            </setting>
            <setting name="HostAddress" serializeAs="String">
                <value>localhost</value>
            </setting>
        </StresslessUI.AppSettings>
    </userSettings>
</configuration>