<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile=".\logging\nlog-INTERNAL.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web" />
		<add assembly="NLog.Web.AspNetCore" />
		<add assembly="NLog.Extensions.Logging" />
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		
		<!-- Uses Microsoft Console Target to write detailed ASP.NET Logs to a file -->
		<target xsi:type="File"
				name="Service_File"
				fileName="logging\ServiceLog-${shortdate}.txt"
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
		
		<!-- Exception -->
		<target xsi:type="File"
				name="Exception_File"
				fileName="logging\ErrorLog-${shortdate}.txt"
				maxArchiveFiles="7"
				layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

		<target name="seq" xsi:type="Seq" serverUrl="http://localhost:5341" apiKey="Nd5F7zCVcdGfd9dYyrCh">
			<property name="ThreadId" value="${threadid}" as="number" />
			<property name="MachineName" value="${machinename}" />
		</target>

	</targets>

	<rules>
		<!-- All logs -->
		<logger name="*" minlevel="Trace" writeTo="Service_File" />
		
		<!-- Error type logs -->
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="Exception_File" final="True" />

	</rules>
</nlog>